# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual environment
.venv/
env/
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Alembic
migrations/__pycache__/
migrations/versions/*.pyc

# Docker
*.log
celerybeat-schedule
